.c-heroImageGrid {
	position: relative;
	overflow: hidden;
	height: 30vw;
	background: #fff;
    margin-top: 20px;
}

.c-heroImageGrid .container123 {
	display: flex;
	align-items: flex-end;
	position: absolute;
	top: -20vw;
	left: -8vw;
	transform: rotateZ(45deg);
	height: 100vw;
	width: 107vw;
}

.c-heroImageGrid .container123 .column1 {
	overflow: hidden;
	position: relative;
}
.c-heroImageGrid .container123 .column1:nth-of-type(1) {
	border-right: 8px solid white;
	width: 11%;
	height: 66vw;
}

@media screen and (max-width: 900px) {
.c-heroImageGrid .container123 .column1:nth-of-type(1) {
	border-right: 8px solid white;
	width: 27%;
	height: 66vw;
}
}

.c-heroImageGrid .container123 .column1:nth-of-type(1):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container123 .column1:nth-of-type(1):before {
	position: absolute;
	top: 8.4vw;
	left: 8.1vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 37vw;
	height: 38vw;
	background-image: url(https://images.pexels.com/photos/132037/pexels-photo-132037.jpeg?cs=srgb&dl=beach-blur-boardwalk-132037.jpg&fm=jpg);
}


.c-heroImageGrid .container123 .column1:nth-of-type(2) {
	display: flex;
	flex-direction: column-reverse;
	width: 80%;
	height: 95.1vw;
}
@media screen and (max-width: 900px) {

.c-heroImageGrid .container123 .column1:nth-of-type(2) {
	display: flex;
	flex-direction: column-reverse;
	width: 77%;
	height: 111.1vw;
}
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1 {
	border-top: 8px solid #fff;
}


.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(1) {
	position: relative;
	overflow: hidden;
	height: 50vw;
}
@media screen and (max-width: 900px) {
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(1) {
	position: relative;
	overflow: hidden;
	height: 63vw;
}
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(1):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(1):before {
	position: absolute;
	top: -10.1vw;
	left: -14.3vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	width: 65vw;
	height: 39vw;
	background-image: url(../images/std.jpg);
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) {
	display: flex;
	height: 40.5vw;
}

@media screen and (max-width: 900px) {
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) {
	display: flex;
	height: 31.5vw;
}
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(3) {
	border-top: none;
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(1) {
	overflow: hidden;
	width: 30%;
	background-image: url(../images/nature.jpg);
	/* background-color:#606060 */
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(1) .text {
	width: 100%;
	height: 100%;
	overflow: visible;
	transform: rotateZ(-45deg);
	position: relative;
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(1) .text h6 {
	position: absolute;
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.35vw;
	width: 20vw;
	top: 16.5vw;
	left: 10vw;
	line-height: 1.55vw;
}
@media screen and (max-width: 900px) {
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(1) .text h6{
left: 5vw;
}
}
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(1) .text p {
	text-align: right;
	position: absolute;
	color: #fff;
	font-size: 0.9vw;
	width: 18vw;
	top: 23.5vw;
	left: -3.5vw;
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(2) {
	position: relative;
	width: 70%;
	border-left: 8px solid white;
	overflow: hidden;
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(2):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(2):before {
	position: absolute;
	top: 0;

    /* white */
    /* left: -1vw;
    width: 26.1vw;
    height: 25vw; */

    /* normal */
	/* left: -40vw;
	width: 110.1vw;
	height: 110vw; */

    left: -20vw;
    width: 54.1vw;
    height: 30vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(../images/s1.jpg);
}
@media screen and (max-width: 900px) {
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(2):before {
    width: 56.1vw;
    height: 31vw;
}
}

@media screen and (max-width: 500px) {
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(2) div:nth-of-type(2):before {
    width: 61.1vw;
    height: 30vw;
    left: -24vw;
}
}
    
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(3) {
	position: relative;
	height: 19.6vw;
	overflow: hidden;
}

@media screen and (max-width: 900px) {
.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(3) {
	position: relative;
	height: 16.6vw;
	overflow: hidden;
}
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(3):hover {
	opacity: 0.75;
	cursor: pointer;
}

.c-heroImageGrid .container123 .column1:nth-of-type(2) .row1:nth-of-type(3):before {
	position: absolute;
	top: 7.5vw;
	left: 25vw;
	width: 33vw;
	height: 27vw;
	background-repeat: no-repeat;
	background-size: cover;
	transform: rotateZ(-45deg);
	content: "";
	background-image: url(https://images.unsplash.com/photo-1518098268026-4e89f1a2cd8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
}
